<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebJars Demo</title>
    <script src="/ui/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/ui/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/ui/webjars/js-cookie/2.1.0/js.cookie.js"></script>
    <link rel="stylesheet" href="/ui/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
<div class="container authenticated">
    Logged in as: <span id="user"></span>
    <div>
        <button onClick="logout()" class="btn btn-primary">Logout</button>
    </div>
</div>

<script>
    // $.get("/user", function(data) {
    //     $("#user").html(data.userAuthentication.name);
    //     $(".unauthenticated").hide()
    //     $(".authenticated").show()
    // });

    var logout = function() {
        $.post("/ui/logout", function() {
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    }

    $.ajaxSetup({
        beforeSend : function(xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT'
                || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });
</script>
</body>
</html>